// Reusable Classes

// Images
.center-image {
	display: block;
	margin: 0 auto;
}
.bg-clr-all{
	width: 100%;
	position: relative;
}
.max-wdth{
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
}
.clr-dim-gray{
	color: $clr-dim-gray;
}