// Colors

// SCSS Color Variables | Named with this: http://chir.ag/projects/name-that-color
$clr-white: #Ffffff;
$clr-yellow: #FCB72B;
$clr-dark-navy: #495567;
$clr-dim-gray: #939CAA;
$clr-light-gray: #E5ECF4;
$clr-snow: #F2F5F9;
$clr-light-yellow: #F2F5F9;
$clr-white-150: #F2F2F2;
$clr-dark-navy-900: #333A44;