.sign-up-bg {
  background-color: $clr-dark-navy;
  .sign-up-bg-img{
    background-image: url("../images/svg/sign-up-bg-img.png");
    width: 998px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    
  }
}
.sign-up-max {
  display: flex;
  justify-content: space-between;
  padding: 102px 0;
  .sign-up-box-left {
    width: 40%;
    &-title {
      @include font-style(
        $family: $first-font,
        $size: 4.8em,
        $color: $clr-white,
        $weight: 700,
        $style: normal,
        $align: left
      );
      line-height: 48px;
      margin: 0;
    }
  }
  .sign-up-box-right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 18px;
    .brand-box {
      height: 56px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 16px;
      background-color: $clr-light-gray;
      .sign-up-box-right-text-box-title {
        @include font-style(
          $family: $first-font,
          $size: 1em,
          $color: $clr-dark-navy,
          $weight: 700,
          $style: normal,
          $align: left
        );
        line-height: 14px;
        margin: 0;
      }
      .sign-up-box-right-text-box-text {
        @include font-style(
          $family: $first-font,
          $size: 2em,
          $color: $clr-dark-navy,
          $weight: 700,
          $style: normal,
          $align: left
        );
        line-height: 24px;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .sign-up-max {
    display: flex;
    flex-direction: column;
    gap: 40px;
    // justify-content: center;
    align-items: center;
    .sign-up-box-left {
      width: 70%;
      &-title {
        text-align: center;
      }
    }
  }
}
@media (max-width: 470px) {
  .sign-up-max {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    .sign-up-box-left {
      width: 90%;
      &-title {
        text-align: center;
      }
    }
    .sign-up-box-right {
      width: 90%;
      justify-content: center;
    }
  }
}
